/* Kidum Online Education HTML Template*/

@media only screen and (max-width: 2500px){
	
	
	
}

@media only screen and (max-width: 1600px){
	
	
	
}

@media only screen and (max-width: 1500px){
	
}

@media only screen and (max-width: 1140px){
	
	.main-menu .navigation > li:nth-child(6) > ul{
		right:120%;
		left:auto;
	}
	
	h1{
		font-size:46px;
	}
	
	.main-header{
		margin:0px !important;
	}
	
	.main-menu .navigation > li > .mega-menu .lower-box .side-icon{
		display:none;
	}
	
	.choose-section-two .images-column .border-one,
	.main-slider .image-column .image .circle-layer,
	.main-header .header-lower .outer-box{
		display:none;
	}
	
	.main-slider .content-column .inner-column{
		padding-top:60px;
	}
	
	.service-block .inner-box{
		padding:20px 20px;
	}
	
	.philosophy-section .image-column .teacher-box{
		left:20px;
		bottom:20px;
	}
	
	.philosophy-section .content-column .inner-column{
		padding-top:40px;
		padding-left:0px;
	}
	
	.choose-section .content-column .inner-column{
		padding-top:0px;
	}
	
	.testimonial-section-three .owl-nav,
	.testimonial-section-two .owl-nav,
	.testimonial-section .owl-nav{
		position:relative;
		top:auto;
		right:auto;
		left:auto;
		text-align:center;
		margin-top:10px;
	}
	
	.testimonial-section-three .owl-nav .owl-prev,
	.testimonial-section-three .owl-nav .owl-next,
	.testimonial-section-two .owl-nav .owl-prev,
	.testimonial-section-two .owl-nav .owl-next,
	.testimonial-section .owl-nav .owl-prev,
	.testimonial-section .owl-nav .owl-next{
		position:relative;
		display:inline-block;
		margin:0px 6px;
	}
	
	.news-block .inner-box{
		padding-top:20px;
		padding-left:20px;
	}
	
	.main-header.header-style-two .nav-outer{
		position:relative;
		margin-top:0px;
	}
	
	.main-header.header-style-two.fixed-header .nav-outer{
		margin-top:0px;
	}
	
	.main-slider-two .content-box .box-inner{
		padding-top:0px;
	}
	
	.main-slider-two .slide{
		padding-bottom:200px;
	}
	
	.philosophy-section-two .content-column .inner-column{
		padding-left:0px;
		padding-top:0px;
	}
	
	.choose-section-two .content-column .inner-column{
		padding:0px;
	}
	
	.choose-section-two .images-column .border-two{
		right:20px;
		bottom:20px;
	}
	
	.main-header.header-style-four .main-menu .navigation > li,
	.header-style-three .main-menu .navigation > li{
		margin-right:18px;
	}
	
	.main-header.header-style-four .main-menu .navigation > li > a,
	.header-style-three .main-menu .navigation > li > a{
		font-size:16px;
	}
	
	.main-slider-three .image-column .inner-column{
		margin-right:0px;
	}
	
	.main-slider-three .content-column .inner-column{
		padding-top:0px;
	}
	
	.service-block-two .inner-box{
		padding:0px;
	}
	
	.counter-section .row{
		margin:0px -15px;
	}
	
	.counter-section .column{
		padding:0px 15px;
	}
	
	.choose-section-three .content-column .inner-column{
		padding-left:30px;
	}
	
	.sidebar-page-container .sidebar-side .sidebar{
		padding-left:0px;
	}
	
	
	
}

@media only screen and (min-width: 1025px){
	
}

@media only screen and (min-width: 768px){
	
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul,
	.main-menu .navigation > li > .mega-menu{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
	
}

@media only screen and (max-width: 1023px){
	
	h1{
		font-size:50px;
	}
	
	.main-header .main-box .logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		margin:0px;
		text-align:left;
	}
	
	.main-slider .slide{
		padding-top:120px;
	}
	
	.main-slider .text br{
		display:none;
	}
	
	.main-slider .content-column{
		margin-bottom:40px;
	}
	
	.philosophy-section{
		padding-top:0px;
	}
	
	.philosophy-section .content-column{
		order:1;
	}
	
	.philosophy-section .image-column{
		order:2;
	}
	
	.philosophy-section .content-column .inner-column{
		padding-top:0px;
	}
	
	.philosophy-section .content-column .course-box{
		margin-bottom:30px;
	}
	
	.choose-section .images-column .image-two{
		left:0px;
	}
	
	.main-header .header-top{
		background-color:#111111;
	}
	
	.main-header.header-style-three .header-lower{
		background-color:#111111;
	}
	
	.main-header.header-style-three .nav-outer .mobile-nav-toggler{
		color:#ffffff;
	}
	
	.philosophy-section-two .content-column{
		order:1;
	}
	
	.philosophy-section-two .image-column{
		order:2;
	}
	
	.courses-section-two .owl-nav{
		position:relative;
		margin-left:0px;
		left:auto;
		top:0px;
		text-align:center;
		max-width:auto;
	}
	
	.courses-section-two .owl-nav .owl-prev,
	.courses-section-two .owl-nav .owl-next{
		margin:0px 6px;
	}
	
	.courses-section-two .button-box{
		margin-top:35px;
	}
	
	.choose-section-two .images-column .border-two{
		left:20px;
		right:auto;
	}
	
	.choose-section-two .content-column{
		order:1;
	}
	
	.choose-section-two .image-column{
		order:2;
	}
	
	.main-slider-three .slide{
		padding-top:250px;
	}
	
	.main-slider-three .image-two,
	.main-slider-three .image-three{
		left:0px;
	}
	
	.main-slider-three .content-column{
		margin-bottom:90px;
	}
	
	.inspiration-section .content-column .inner-column{
		padding-left:0px;
	}
	
	.inspiration-section .images-column .image-four,
	.inspiration-section .images-column .image-three{
		right:0px;
	}
	
	.inspiration-section{
		padding-top:0px;
	}
	
	.inspiration-section .content-column{
		order:1;
		margin-bottom:170px;
	}
	
	.inspiration-section .images-column{
		order:2;
	}
	
	.fact-counter-two .content-box{
		margin-bottom:0px;
	}
	
	.counter-section{
		padding-bottom:70px;
	}
	
	.choose-section-three .inner-container::before{
		width:100%;
		top:0px;
	}
	
	.choose-section-three .content-column{
		margin-bottom:0px;
	}
	
	.choose-section-three .content-column .inner-column{
		padding:40px 20px;
	}
	
	.choose-section-three .image-column .inner-column .image{
		padding:0px 20px;
	}
	
	.choose-section-three .image-column .inner-column .image img{
		width:100%;
		display:block;
	}
	
	.main-header.header-style-four .header-lower .logo-box{
		padding:15px 0px 15px;
	}
	
	.main-header.header-style-four .nav-outer{
		margin-top:-92px;
	}
	
	.header-style-four .header-top .info li,
	.header-style-four .header-top .info li a{
		color:#ffffff;
	}
	
	.page-title{
		padding:120px 0px 120px;
	}
	
	.contact-page-section .info-column .contact-info-list{
		text-align:center;
	}
	
	.contact-page-section .info-column .contact-info-list .icon{
		margin:0 auto;
		margin-bottom:18px;
	}
	
	.choose-section .content-column .inner-column{
		padding-right:0px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.header-upper .logo-outer{
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:100%;
		margin:0px;
	}
	
	.page-title{
		padding:120px 0px;
	}
	
	.main-slider .content-boxed{
		padding:0px;
	}
	
	.main-slider .owl-nav{
		display:none;
	}
		
	.main-menu{
		width:100%;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:15px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:12;
		border:1px solid #ffffff;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#fbb908;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#2c2c2c;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#2c2c2c;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#2c2c2c;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navigation > li .mega-menu-bar .column > ul > li > a{
		background:#fbb908;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.main-menu .navigation > li .mega-menu-bar .column > ul > li > a{
		background:#2c2c2c;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-header .btn-outer{
		left:0px;
		top:0px;
		right:auto;
		margin-top:15px;
		text-align:left;
		z-index:12;
	}
	
	.main-header .main-box .logo-box{
		float:none;
		text-align:center;
		padding-bottom:10px;
	}
	
	.main-header .nav-outer{
		position:relative;
	}
	
	.main-header .header-lower .outer-box{
		position:absolute;
		z-index:12;
		left:0px;
		right:auto;
		bottom:0px;
		padding:12px 0px;
	}
	
	.main-menu .navbar-header .navbar-toggler{
		display: inline-block;
		z-index: 12;
		width: 50px;
		height: 40px;
		float: none;
		padding: 0px;
		text-align: center;
		border-radius: 0px;
		background: #fda700;
		border: 1px solid #fda700;
	}
	
	.main-menu .navbar-header .navbar-toggler .icon-bar{
		position: relative;
		background: #ffffff;
		height: 2px;
		width: 26px;
		display: block;
		margin:0 auto;
		margin:5px 11px;
	}
	
	.main-header .options-box .cart-box .cart-panel{
		left:0px !important;
		right:auto;
	}
	
	.nav-outer .mobile-nav-toggler{
		display: block;
		margin: 0;
		font-size:26px;
	}
	
	#navbarSupportedContent{
		display:block;
	}
	
	.main-menu {
		width: 100%;
		display: none;
	}
	
	.mobile-menu .navigation li.has-mega-menu{
		display:none;
	}
	
	.main-header .options-box{
		position:absolute;
		left:0px;
		right:auto;
		top:0px;
	}
	
	h1{
		font-size:40px;
	}
	
	.main-header .header-upper .logo-box{
		width:100%;
		text-align:center;
	}
	
	.main-header .button-box{
		display:block;
		float:left;
	}
	
	.sec-title h2 br{
		display:none;
	}
	
	h2{
		font-size:32px;
	}
	
	.service-block .inner-box{
		text-align:center;
	}
	
	.main-header .header-top .info li{
		margin-right:15px;
		font-size:14px;
	}
	
	.main-footer .footer-bottom-two .pull-left{
		width:100%;
	}
	
	.main-footer .footer-bottom-two .pull-right{
		width:100%;
	}
	
	.teacher-block .inner-box .image{
		text-align:center;
	}
	
	.fact-counter-two .content-box .counter-title,
	.fact-counter-two .content-box .count-box{
		text-align:center;
	}
	
	.teacher-detail .inner-box .lower-content .counter-boxed{
		width:25%;
	}
	
	.choose-section .content-column .inner-column{
		padding-right:0px;
	}
	
	.inspiration-section{
		overflow:hidden;
	}
	.no-margin-top{
		margin-top:0px !important;	
	}
	
	.kidum-comment-item .kidum-comment-item {
		margin-left: 0px;
	}
	
	.admin-bar .main-header.fixed-header .header-lower,
	.admin-bar .mobile-menu,
	.admin-bar .main-header{
		top:46px;
	}
}

@media only screen and (max-width: 769px){
	
	.nav-outer .mobile-nav-toggler{
		display: block;
		margin: 0;
		margin-left: 20px;
		font-size:26px;
	}
	
	#navbarSupportedContent{
		display:block;
	}
	
	.main-menu {
		width: 100%;
		display: none;
	}
	
	.mobile-menu .navigation li.has-mega-menu{
		display:none;
	}
	
	.main-header .header-lower .outer-box{
		display:none !important;
	}
	
	.feature-block .inner-box .content{
		padding:0px;
		text-align:center;
	}
	
	.feature-block .inner-box .content .icon{
		position:relative;
		margin:0 auto;
		margin-bottom:15px;
	}
	
	.sidebar-page-container .comments-area .reply-comment{
		margin-left:0px;
	}
	
	.blog-detail .post-share-options{
		padding:20px 20px;
	}
	
	
	/*********** Woocommerce Style *********/
	
	.woocommerce div.product div.images.woocommerce-product-gallery{
        width:40%;
        margin-right:30px;
    }
    .woocommerce div.product div.summary.entry-summary{
        width:55%;
    }
    .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2,
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
		width:100%;
		float:none;
		max-width: 100% !important;
	}
	.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2{
		margin-top:40px;
	}
	.woocommerce table.shop_table{
		border:1px solid #f3f3f3;
	}
	.woocommerce .shop_table tbody tr.cart_item td{
		padding:15px;
	}
	.woocommerce .shop_table tbody tr td.actions{
		padding:15px !important;
	}
	.woocommerce .shop_table tbody tr td.actions .coupon{
		display:block;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text{
		width:100%;
		margin-bottom:15px;
	}
	.cart .quantity input.input-text{
	    margin-right:10px;   
	}
}


@media only screen and (max-width: 667px){
    .woocommerce div.product div.images.woocommerce-product-gallery,
    .woocommerce div.product div.summary.entry-summary{
        width:100%;
        margin:10px 0px;
    }
	
}

@media only screen and (max-width: 599px){
	
	.philosophy-section-two,
	.philosophy-section{
		overflow:hidden;
	}
	
	.philosophy-section .image-column .inner-column{
		padding-right:0px;
	}
	
	.philosophy-section .image-column .courses-box{
		top:20px;
		right:20px;
	}
	
	.sec-title .text br{
		display:none;
	}
	
	.news-block .inner-box{
		padding:0px;
	}
	
	.news-block .inner-box .image{
		position:relative;
		width:100%;
		display:block;
	}
	
	.news-block .inner-box .image img{
		width:100%;
	}
	
	.news-block .inner-box .content{
		padding:30px 25px;
	}
	
	h2{
		font-size:26px;
	}
	
	.main-slider-three .image-two,
	.philosophy-section .image-column .shadow-box,
	.inspiration-section .images-column .image-three,
	.main-header .header-top .pull-right{
		display:none;
	}
	
	.clients-section-two .sponsors-outer .owl-nav{
		position:relative;
		top:0px;
		margin-top:30px;
		margin-left:-10px;
	}
	
	.inspiration-section .images-column .image{
		width:100%;
		height:auto;
	}
	
	.accordion-box .block .acc-btn{
		font-size:17px;
	}
	
	.teacher-detail .inner-box .lower-content .counter-boxed{
		width:50%;
		text-align:center;
	}
	
	.news-block-four .inner-box .lower-content{
		padding:25px 20px 30px;
	}
	
	.news-block-four .inner-box .post-info li{
		margin-right:15px;
	}
	
	.blog-detail .post-share-options .social-box{
		width:100%;
	}
	
	.sidebar-page-container .comments-area .comment{
		padding-left:0px;
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
	}
	
	.blog-detail .inner-box .lower-content blockquote{
		padding-left:20px;
	}
	
	.blog-detail .inner-box .lower-content blockquote .quote-icon{
		position:relative;
		left:0px;
		top:0px;
		display:block;
	}
	
	.main-slider-two .slide{
		padding-bottom:150px;
	}
	
	.philosophy-section-two .image-column{
		margin-bottom:40px;
	}
	
	.philosophy-section-two .image-column .inner-column{
		padding-bottom:50px;
	}
	.admin-bar .main-header.fixed-header .header-lower{
		top:0px;
	}
	.blog-detail .inner-box .lower-content blockquote p{
		padding: 18px 20px 20px 0px;	
	}
	
	
	/*********** Woocommerce Style **********/
	.cart-section .coupon-outer button,
	.cart-section .apply-coupon .form-group button,
	.cart-section .apply-coupon .form-group input[type="text"],
	.cart-section .coupon-outer .pull-left,
	.cart-section .coupon-outer .pull-right{
		width:100%;
	}
	
	.cart-section .apply-coupon .form-group{
		width:100%;
		margin-right:0px;
	}
	.woocommerce div.product div.images.woocommerce-product-gallery,
    .woocommerce div.product div.summary.entry-summary{
        width:100%;
        margin:10px 0px;
    }
    .woocommerce .woocommerce-form-coupon p{
		float:none;
		width:100%;
	}
	.shop-page .prod-tabs .tab-btns .tab-btn{
		width:100%;
		margin-right:0px;
	}
	.cart-section .coupon-outer .theme-btn,
	.cart-section .apply-coupon .form-group input[type="text"],
	.cart-section .coupon-outer .pull-left{
		width:100%;
	}
	
	.cart-section .apply-coupon .form-group{
		margin-right:0px;
		width:100%;
	}
	.woocommerce-page table.cart td.actions .coupon .button,
	.woocommerce form.woocommerce-form-coupon .form-row{
	    width:100%   
	}
	
}

@media only screen and (max-width: 479px) {

	h1{
		font-size:28px;
	}
	
	h2{
		font-size:22px;
	}
	
	p{
		font-size:16px;
	}
	
	.blog-detail .inner-box .lower-content .numbering-list li{
		font-size:16px;
		line-height:1.7em;
	}
	
	.blog-detail .post-share-options .social-box li{
		margin-left:12px;
	}
	
	.philosophy-section .content-column .course-box{
		margin-left:0px;
		margin-top:25px;
		margin-bottom:10px;
	}
	
	.philosophy-section .image-column .courses-box{
		display:none;
	}
	
	.team-block .inner-box .image .color-layer{
		left: 13px;
		top: 69px;
		width: 264px;
		height: 252px;
	}
	
	.team-block .inner-box .image{
		width:290px;
		height:322px;
	}
	
	.philosophy-section-two .image-column .inner-column{
		padding-right:0px;
	}
	
	.philosophy-section-two .image-column .inner-column .video-box{
		position:relative;
		margin-top:20px;
	}
	
	.main-slider-three .image .play-box{
		top:0px;
	}
	
	.inspiration-section .images-column .image-four{
		bottom:0px;
	}
	
	.news-block-three .inner-box .lower-content{
		padding:20px 24px 25px;
	}
	
	.news-block-three .inner-box .post-info li{
		margin-right:15px;
	}
	
	.main-footer .upper-box .pull-right{
		width:100%;
	}
	
	.main-footer .upper-box .social-box{
		margin-top:20px;
	}
	
	.faq-page-section .form-column .inner-column{
		padding:30px 25px 25px;
	}
	
	.teacher-info-widget .info-list li span{
		display:block;
		font-size:16px;
	}
	
	.teacher-info-widget .info-list li{
		font-size:16px;
		word-wrap:break-word;
	}
	
	.sidebar-page-container .comments-area .comment-info .comment-time{
		position:relative;
		margin-top:5px;
		display:block;
	}
	
	.choose-section .images-column .image{
		padding-left:0px;
	}
	
	.choose-section .images-column .image-two{
		position:relative;
		margin-top:0px;
		display:none;
	}
	
	.philosophy-section-two .image-column .inner-column{
		padding-bottom:20px;
	}
	.gallery-widget .gallery-outer .image{
		margin-right:4px !important;	
	}
	
	
	
	/*********** Woocommerce Style **********/
	.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	    padding:12px 20px 10px;   
	}
	
	.totals-table li .col-title{
		padding:0px;
	}
	
	.cart-total-box{
		padding-left:15px;
		padding-right:15px;
	}
	.shop-page .prod-tabs .reviews-container .rev-header .time{
		position:relative;
		width:100%;
		margin-top:0px;
	}
	.woocommerce-page table.cart td.actions .coupon .button{
		float:none;
		width:100%;
	}
	
}